<div class="flex flex-col min-h-dvh bg-gray-50">

  <!-- Bottom navigation -->
  <nav class="fixed bottom-0 left-0 right-0 bg-white border-t
  border-gray-100 flex z-50 shadow-lg">
    <a routerLink="routes" routerLinkActive="text-primary-900" class="flex flex-col items-center justify-center flex-1
    py-2 gap-1 text-gray-400 no-underline
    transition-colors duration-150">
      <i class="pi pi-map text-xl"></i>
      <span class="text-xs font-medium">Routes</span>
    </a>

    <a routerLink="my-tickets" routerLinkActive="text-primary-900" class="flex flex-col items-center justify-center flex-1
    py-2 gap-1 text-gray-400 no-underline
    transition-colors duration-150">
      <i class="pi pi-ticket text-xl"></i>
      <span class="text-xs font-medium">Tickets</span>
    </a>

    <a routerLink="account" routerLinkActive="text-primary-900" class="flex flex-col items-center justify-center flex-1
    py-2 gap-1 text-gray-400 no-underline
    transition-colors duration-150">
      <i class="pi pi-user text-xl"></i>
      <span class="text-xs font-medium">Account</span>
    </a>

  </nav>
</div>