<div class="bg-orange-600 text-white text-sm py-2 px-6 flex justify-between items-center">
  <div class="flex gap-4">
    <span><i class="fab fa-instagram"></i></span>
    <span><i class="fab fa-x-twitter"></i></span>
    <span><i class="fab fa-tiktok"></i></span>
  </div>

  <div class="flex gap-6">
    <span><i class="fas fa-clock"></i> Mon-sat 08:00-18:00</span>
    <span><i class="fas fa-phone"></i> +233545519634</span>
    <span><i class="fas fa-email"></i> alaska@email.com</span>
  </div>
</div>

<!-- Navbar -->
<div class="bg-white shadow-md px-8 py-2 flex justify-between items-center">
  <h1 class="text-xl font-bold text-gray-800 cursor-pointer">Passio<span class="text-orange-600 text-4xl">.</span></h1>
  <nav class="hidden md:flex gap-8 text-gray-600 font-medium">
    <a routerLink="/customer/routes" routerLinkActive="text-orange-600">
      Routes
    </a>
    <a routerLink="/customer/tickets" routerLinkActive="text-orange-600">
      Tickets
    </a>
  </nav>

  <div>
    @if (isAuthenticated) {
    <p-avatar icon="fas fa-user" style="background-color: #dee9fc; color: #1a2551" shape="circle" 
    (click)="menu.toggle($event)" class="justify-end"/>

    <p-menu #menu [model]="items" [popup]="true" >
       <ng-template #submenuheader let-item>
          <span class="text-primary font-bold">{{ item.label }}</span>
        </ng-template>
        <ng-template #item let-item>
          <a pRipple class="flex items-center px-3 py-2 cursor-pointer" [class]="item.linkClass">
              <span [class]="item.icon"></span>
              <span class="ms-2">{{ item.label }}</span>
              <!-- <p-badge *ngIf="item.badge" class="ms-auto" [value]="item.badge" /> -->
              <span *ngIf="item.shortcut" class="ms-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ item.shortcut }}</span>
          </a>
        </ng-template>
    </p-menu>
    }@else {
      <p-button routerLink="/auth/login" label="Get Started"
      styleClass="bg-orange-600! text-white! border-none! hover:bg-orange-700!">
    </p-button>
    }
  </div>
</div>